.appbar {
  gap: 30px;
  justify-content: center;
  background-color: none;
  background: none;
  box-shadow: none;
}

.appbar-container {
  width: "66%";
  box-shadow: none; 
  border-bottom: 1px solid rgb(208, 207, 207);
  background: none;
}

.css-h783dy-MuiPaper-root-MuiAppBar-root {
  --AppBar-background: none;
}

@media (max-width: 450px) {
  .breadcrumb {
    font-size: 10px;
  }
}